{% extends "base.html" %}
{% load mathfilters %}
{% block title %}
<title>قائمة العملاء</title>

{% endblock title %}


{% block main %}
    <div class="main-content">

      <div class="page-content">
          <div class="container">

                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}


                      {% endif %}
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">

                            {% if type == "list" %}
                                <h4 class="mb-0"> قائمة العملاء
                                    <a class="badge badge-success" style="font-size:small;" href="{% url 'Customer:CustomerCreate' %}" data-toggle="modal" data-target="#action_modal">
                                            <i class="fas fa-plus-square fx-2"></i>
                                    </a>

                                    <a class="badge badge-info" style="font-size:small;" href="{% url 'Customer:CustomerList' %}">
                                       <i class="fas fa-list-ul"></i>
                                    </a>

                                 </h4>
                            {% endif %}
                            <span class="badge badge-dark font-size-15"> الاجمالي : {{count}} عميل </span>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>

                                    {% if type == "list" %}
                                    <li class="breadcrumb-item active">قائمة العملاء</li>
                                    {% endif %}
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

                {% if object_list %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3"></div>
                            <div class="col-lg-3">
           
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <div class="search-box mr-2 mb-2 d-inline-block">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="بحث...">
                                                    <i class="bx bx-search-alt search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="text-sm-right">
                                                <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>اضافة عميل جديد</button>
                                            </div>
                                        </div><!-- end col-->
                                    </div>
            
                                    <div class="table-responsive">
                                        <table class="table table-centered table-nowrap">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="width: 20px;">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                            <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                        </div>
                                                    </th>
                                                    <th>#</th>
                                                    <th>اسم العميل</th>
                                                    <th>رقم الموبيل</th>
                                                    <th>العنوان</th>
                                                    <!-- <th>رقم البطاقة</th> -->
                                                    <th>القيمة الافتتاحية</th>
                                                    <th>نوع القيمة</th>
                                                    <th>عرض التفاصيل</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for x in object_list %}
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                            <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                        </div>
                                                    </td>
                                                    <td><a href="javascript: void(0);" class="text-body font-weight-bold"></a> {{forloop.counter}} </td>
                                                    <td>{{x.customer_name}}</td>
                                                    <td>
                                                        {% if x.customer_phone %} {{x.customer_phone}} {% else %} لا يوجد {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if x.customer_address %} {{x.customer_address}} {% else %} لا يوجد {% endif %}
                                                    </td>
                                                    <!-- <td>
                                                        {% if x.customer_id_number %} <i class="fab fa-cc-mastercard mr-1"></i> {{x.customer_id_number}} {% else %} لا يوجد {% endif %}
                                                    </td> -->
                                                    </td>
                                                    <td>
                                                        {% if x.initial_balance_debit %} {{x.initial_balance_debit}} {% else %} لا يوجد {% endif %}
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-success">{% if x.initial_balance_type %} {{x.get_initial_balance_type_display}} {% else %} لا يوجد {% endif %}</span>
                                                    </td>
                                                   
                                                    <td>
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn btn-primary btn-sm btn-rounded" data-toggle="modal" data-target=".exampleModal">
                                                        عرض التفاصيل
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-size-18"></i></a>
                                                    </td>
                                                </tr>

                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    {% if is_paginated %}
                                    {% include "components/paginator.html" %}
                                    {% endif %}
                
                                </div>
                            </div>
                        </div>
                        
                   
                </div>


                </div>

                <div class="modal fade" id="RepoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">كشف حساب</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                        <form method="post" target="_blank" id="RepoForm">
                        {% csrf_token %}
                      <div class="modal-body">
                          <div class="row">
                              <div class="col-md-12">
                                  <input type="checkbox" id="check0" name="check0" value="check0" style="transform: scale(2)" checked>
                                  <label for="check0" style="margin-right: 10px">الإجماليات</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <input type="checkbox" id="check1" name="check1" value="check1" style="transform: scale(2)">
                                  <label for="check1" style="margin-right: 10px">فواتير المبيعات</label>
                              </div>
                              <div class="col-md-12">
                                  <input type="checkbox" id="check2" name="check2" value="check2" style="transform: scale(2)">
                                  <label for="check2" style="margin-right: 10px">فواتير مرتجع المبيعات</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <input type="checkbox" id="check3" name="check3" value="check3" style="transform: scale(2)">
                                  <label for="check3" style="margin-right: 10px">المبالغ المستلمة من التاجر</label>
                              </div>
                              <div class="col-md-12">
                                  <input type="checkbox" id="check4" name="check4" value="check4" style="transform: scale(2)">
                                  <label for="check4" style="margin-right: 10px">المبالغ المسلمة الي التاجر</label>
                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">كشف حساب</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                      </div>
                        </form>
                    </div>
                  </div>
                </div>

                {% else %}

                <div class="row">

                    <div class="col-lg-12">
                        <div class="text-center mb-5 mt-5">
                            <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                            {% if type == "list" %}
                            <h4 class="text-uppercase">لا توجد بيانات</h4>
                            {% else %}
                            <h4 class="text-uppercase">لا توجد بيانات محذوفة</h4>
                            {% endif %}
                            <div class="mt-3 text-center">

                                {% if type == "list" %}
                                    <a class="btn btn-primary waves-effect waves-light" href="{% url 'Customer:CustomerCreate' %}" data-toggle="modal" data-target="#action_modal">اضافة بيانات</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 d-flex justify-content-center ">

                        <img src="/static/assets/images/error-img.png" width="400px" height="188px" alt="" class="img-fluid" >

                    </div>
                </div>

                {% endif %}

          </div>
      </div>
    </div>
    </div>

{% endblock main %}
