<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav active">

                    <li class="nav-item ">
                        <a class="nav-link dropdown-toggle " href="#" id="topnav-dashboard" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-home-circle mr-2"></i><span key="t-dashboards">الرئيسية</span> 
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-tone mr-2"></i>
                            <span key="t-ui-elements">الوان النظام</span> 
                            <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="{% url 'Core:ColorList' %}" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة الالوان </a>
                                        <a href="{% url 'Core:ColorCreate' %}" data-toggle="modal" data-target="#action_modal" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة لون جديد</a>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='bx bxs-user-voice '></i>
                            <span key="t-ui-elements">العملاء</span> 
                            <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="{% url 'Customer:CustomerList' %}" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة العملاء </a>
                                        <a href="ui-buttons.html" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة عميل جديد</a>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='bx bx-receipt' ></i>
                            <span key="t-ui-elements">الفواتير</span> 
                            <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-alerts.html" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة الفواتير </a>
                                        <a href="ui-buttons.html" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة فاتورة جديدة</a>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='bx bxs-factory'></i>
                            <span key="t-ui-elements">شركات الخامات</span> 
                            <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-alerts.html" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة الشركات </a>
                                        <a href="ui-buttons.html" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة شركة جديدة</a>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='bx bx-command'></i>
                            <span key="t-ui-elements">الخامات</span> 
                            <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-alerts.html" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة الخامات </a>
                                        <a href="ui-buttons.html" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة خامة جديدة</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='bx bx-building-house'></i>
                            <span key="t-ui-elements">المخازن</span> 
                            <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-alerts.html" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة المخازن </a>
                                        <a href="ui-buttons.html" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة مخزن جديد</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='bx bxs-bank'></i>
                            <span key="t-ui-elements">الخزائن</span> 
                            <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-alerts.html" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة الخزائن </a>
                                        <a href="ui-buttons.html" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة خزينة جديدة</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='bx bxs-user-detail'></i>
                            <span key="t-ui-elements">المستخدمين</span> 
                            <!-- <div class="arrow-down"></div> -->
                        </a>

                        <!-- <div class="dropdown-menu mega-dropdown-menu px-2" aria-labelledby="topnav-uielement">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-alerts.html" class="dropdown-item" key="t-alerts"> <i class='bx bx-list-ul'></i> قائمة  </a>
                                        <a href="ui-buttons.html" class="dropdown-item" key="t-buttons"> <i class='bx bxs-add-to-queue'></i> اضافة محزن جديد</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div> -->
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>