{% extends "base.html" %}
{% block title %}
{% load mathfilters %}
{% load humanize %}
<title>إحصائيات عامة</title>

{% endblock title %}

{% block main %}
    <div class="main-content">

      <div class="page-content">
          <div class="container-fuild">
           
                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}

            
                      {% endif %}
                    </div>
                   
                </div>
              
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">

                            <h4 class="mb-0">إحصائيات عامة</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                                    <li class="breadcrumb-item active">إحصائيات عامة</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row text-center font-weight-bolder font-size-20">
                    <div class="col-12">
                        <div class="card bg-dark mini-stats-wid">
                            <form style="padding: 20px 20px 0 0" class="text-white" method="post" action="/system_statistics/">
                                {% csrf_token %}
                                <div class="row" style="text-align: right">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="today" name="st_time" value="today" {% if st_time == 'today' %} checked {% endif %}>
                                            <label for="today" style="margin-left: 40px">اليوم</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="yesterday" name="st_time" value="yesterday" {% if st_time == 'yesterday' %} checked {% endif %}>
                                            <label for="yesterday" style="margin-left: 40px">منذ الأمس</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="3days" name="st_time" value="3days" {% if st_time == '3days' %} checked {% endif %}>
                                            <label for="3days" style="margin-left: 40px">اخر 3 أيام</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="1week" name="st_time" value="1week" {% if st_time == '1week' %} checked {% endif %}>
                                            <label for="1week" style="margin-left: 40px">اخر أسبوع</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="1month" name="st_time" value="1month" {% if st_time == '1month' %} checked {% endif %}>
                                            <label for="1month" style="margin-left: 40px">اخر شهر</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="3months" name="st_time" value="3months" {% if st_time == '3months' %} checked {% endif %}>
                                            <label for="3months" style="margin-left: 40px">اخر 3 أشهر</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="6months" name="st_time" value="6months" {% if st_time == '6months' %} checked {% endif %}>
                                            <label for="6months" style="margin-left: 40px">اخر 6 أشهر</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="1year" name="st_time" value="1year" {% if st_time == '1year' %} checked {% endif %}>
                                            <label for="1year" style="margin-left: 40px">اخر سنة</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="radio" id="alltime" name="st_time" value="alltime" {% if st_time == 'alltime' %} checked {% endif %}>
                                            <label for="alltime">الكل</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                       <div class="card mini-stats-wid">
                           <a href="#treasury_card" data-toggle="collapse" class="font-weight-bold">
                               <div class="card-header bg-primary text-white">
                                    <i class="mdi mdi-access-point mr-1"></i>
                                        الخزائن
                               </div>
                           </a>
                           <div class="card-body">
                               <div class="media">
                                   <div class="media-body collapse hide" id="treasury_card">
                                       <h5 class="mb-3">
                                           الداخل للخزائن:
                                           {{ treasuries_dict.treasuries_in|floatformat:2|intcomma }}
                                       </h5>
                                       <h5 class="mb-3">
                                           الخارج من الخزائن:
                                           {{ treasuries_dict.treasuries_out|floatformat:2|intcomma }}
                                       </h5>
                                       <h5 class="mb-3">&nbsp;</h5>
                                       <h5 class="mb-3">
                                           رصيد الخزائن الحالي:
                                           {{ treasuries_dict.treasuries_balance|floatformat:2|intcomma }}
                                       </h5>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                       <div class="card mini-stats-wid">
                           <a href="#inv1_card" data-toggle="collapse" class="font-weight-bold">
                               <div class="card-header bg-primary text-white">
                                    <i class="mdi mdi-access-point mr-1"></i>
                                        فواتير المبيعات
                               </div>
                           </a>
                           <div class="card-body">
                               <div class="media">
                                   <div class="media-body collapse hide" id="inv1_card">
                                       <h5 class="mb-3">
                                           عدد الفواتير:
                                           {{ inv1_dict.invs }}
                                       </h5>
                                       <h5 class="mb-3">
                                           عدد القطع:
                                           {% if inv1_dict.quants %}
                                           {{ inv1_dict.quants|floatformat:0 }}
                                           {% else %}
                                           0
                                           {% endif %}
                                       </h5>
                                       <h5 class="mb-3">
                                           قيمة الفواتير:
                                           {% if inv1_dict.total %}
                                           {{ inv1_dict.total|floatformat:2|intcomma }}
                                           {% else %}
                                           0.00
                                           {% endif %}
                                       </h5>
                                       <h5 class="mb-3">
                                           القيمة المحصلة من التجار:
                                           {% if inv1_dict.collects %}
                                           {{ inv1_dict.collects|floatformat:2|intcomma }}
                                           {% else %}
                                           0.00
                                           {% endif %}
                                       </h5>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                       <div class="card mini-stats-wid">
                           <a href="#inv2_card" data-toggle="collapse" class="font-weight-bold">
                               <div class="card-header bg-primary text-white">
                                    <i class="mdi mdi-access-point mr-1"></i>
                                        فواتير المرتجع
                               </div>
                           </a>
                           <div class="card-body">
                               <div class="media">
                                   <div class="media-body collapse hide" id="inv2_card">
                                       <h5 class="mb-3">
                                           عدد الفواتير:
                                           {{ inv2_dict.invs }}
                                       </h5>
                                       <h5 class="mb-3">
                                           عدد القطع:
                                           {% if inv2_dict.quants %}
                                           {{ inv2_dict.quants|floatformat:0 }}
                                           {% else %}
                                           0
                                           {% endif %}
                                       </h5>
                                       <h5 class="mb-3">
                                           قيمة الفواتير:
                                           {% if inv2_dict.total %}
                                           {{ inv2_dict.total|floatformat:2|intcomma }}
                                           {% else %}
                                           0.00
                                           {% endif %}
                                       </h5>
                                       <h5 class="mb-3">
                                           القيمة المدفوعة للتجار:
                                           {% if inv2_dict.collects %}
                                           {{ inv2_dict.collects|floatformat:2|intcomma }}
                                           {% else %}
                                           0.00
                                           {% endif %}
                                       </h5>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                       <div class="card mini-stats-wid">
                           <a href="#inv3_card" data-toggle="collapse" class="font-weight-bold">
                               <div class="card-header bg-primary text-white">
                                    <i class="mdi mdi-access-point mr-1"></i>
                                        فواتير القطاعي
                               </div>
                           </a>
                           <div class="card-body">
                               <div class="media">
                                   <div class="media-body collapse hide" id="inv3_card">
                                       <h5 class="mb-3">
                                           عدد الفواتير:
                                           {{ inv3_dict.invs }}
                                       </h5>
                                       <h5 class="mb-3">
                                           عدد القطع:
                                           {% if inv3_dict.quants %}
                                           {{ inv3_dict.quants|floatformat:0 }}
                                           {% else %}
                                           0
                                           {% endif %}
                                       </h5>
                                       <h5 class="mb-3">
                                           قيمة الفواتير:
                                           {% if inv3_dict.total %}
                                           {{ inv3_dict.total|floatformat:2|intcomma }}
                                           {% else %}
                                           0.00
                                           {% endif %}
                                       </h5>
                                       <h5 class="mb-3">
                                           القيمة المحصلة:
                                           {% if inv3_dict.total %}
                                           {{ inv3_dict.total|floatformat:2|intcomma }}
                                           {% else %}
                                           0.00
                                           {% endif %}
                                       </h5>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>

          </div>
      </div>
  </div>
{% endblock main %}

{% block js %}
    <script>
        $('input[type=radio]').on('change', function() {
            $(this).closest("form").submit();
        });
    </script>
{% endblock js %}
