<div class="table-responsive scroll">
    <table class="table pag table-centered table-dark table-nowrap text-center">
        <thead>
        <tr>
            <th>م</th>
            <th>التاريخ</th>
            <th>الخامة</th>
            <th>نوع الخامة</th>
            <th>اللون</th>
            <th>عدد الشكاير</th>
            <th>الوزن</th>
            <th>نسبة الهالك</th>
            <th>الوزن بعد الهالك</th>
            <th>المسؤول</th>
            {% if request.user.is_superuser %}
            <th><i class="fas fa-cogs"></i></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for x in outSide %}
        <tr style="text-align: center;">
            <td>{{forloop.counter}}</td>
            <td><span class="font-size-18"><i class="fas fa-calendar-alt"></i> {{x.date|date:'Y-m-d'}}</span>
            </td>
            <td><span class=" font-size-18"></i> {{x.wool.wool_name}}</span>
            </td>
            <td><span class=" font-size-18"></i> {{x.wool.get_wool_type_display}}</span>
            </td>
            <td><span class=" font-size-18"></i> {{x.color.color_name}}</span>
            </td>
            <td><span class=" font-size-18"></i> {{x.wool_count_item}}</span>
            </td>
            <td><span class=" font-size-18">{{x.weight|floatformat:3}}</span>
            </td>
            <td><span><i class="fas fa-percent"></i> {{x.percent_loss|floatformat:1}}</span></td>
            <td><span class=" font-size-18"><i class="fas fa-balance-scale"></i> {{x.weight_after_loss|floatformat:3}}</span>
            </td>
            <td><i class="fas fa-user-tie"></i> {{x.admin}}</td>
            {% if request.user.is_superuser %}
            <td>
                <!--
{#                                                            <a href="{% url 'Factories:FactoryOutSideUpdate' x.id %}" class="mr-3 text-warning" data-toggle="modal" data-target="#action_modal" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>#}-->
                <a onClick="
                    var result = confirm('هل أنت متأكد من الحذف؟');
                    if (result) {
                        OutsideDelete('{{x.id}}')
                    }
                    "
                   style="cursor: pointer;" class="text-danger"><i
                        class="mdi mdi-close font-size-18"></i></a>
            </td>
            {% endif %}


        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row text-center out_pagination">
    <div class="col-md-12">
        <button class="btn btn-dark out_prev">السابق</button>
        <span class="out_page"></span>
        <button class="btn btn-dark out_next">التالي</button>
    </div>
</div>
<br>

<div style="margin-top:10px">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mini-stats-wid mb-0">
                <div class="card-body bg-danger">
                    
                    <div class="d-flex flex-wrap">
                        <div class="mr-3">
                            <h5 class=" mb-2 text-light">اجمالي الوزن</h5>
                            <h5 class="mb-0 text-dark">
                                {% if sum_weight %}
                                {{sum_weight|floatformat:3}}
                                {% else %}
                                0.000
                                {% endif %}
                                كيلو جرم</h5>
                        </div>


                        <div class="avatar-xs ml-auto">
                            <div class="avatar-title bg-light rounded-circle text-dark font-size-20">
                                <i class="fas fa-balance-scale"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mini-stats-wid mb-0">
                <div class="card-body bg-danger">
                    
                    <div class="d-flex flex-wrap">
                        <div class="mr-3">
                            <h5 class=" mb-2 text-light">اجمالي الوزن بعد الهالك</h5>
                            <h5 class="mb-0 text-dark">
                                {% if sum_weight_after %}
                                {{sum_weight_after|floatformat:3}}
                                {% else %}
                                0.000
                                {% endif %}
                                كيلو جرام</h5>
                        </div>


                        <div class="avatar-xs ml-auto">
                            <div class="avatar-title bg-light rounded-circle text-dark font-size-20">
                                <i class="fas fa-balance-scale"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body bg-primary">
                    <h5 class="text-light text-center" style="margin-top: -15px">اعادة احتساب الهالك</h5>
                    <form method="post" id="new_percent_loss" action="{% url 'Factories:UpdateFactoryOutsideLoss' factory.id %}">
                        {% csrf_token %}
                        <div class="row" style="margin-top: 15px; margin-bottom: -10px">
                            <div class="col-md-8">
                                <input type="number" class="form-control" name="new_percent_loss" placeholder="النسبة" required min="0">
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-light" value="تأكيد">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  document.getElementById('new_percent_loss').addEventListener('submit', function() {
      localStorage['percent_loss'] = 'percent_loss';
  });

  $( document ).ready(function() {
      if (localStorage['percent_loss']){
          $('a[href="#Outside_factory"]').tab('show');
          localStorage.removeItem("percent_loss");
      }
  });
</script>

<script>
    $(document).ready(function() {
      var itemsPerPage = 10;
      var currentPage = 1;

      function showItems() {
        var startIndex = (currentPage - 1) * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;

        $('.out_pag tbody tr').hide();
        $('.out_pag tbody tr').slice(startIndex, endIndex).show();
        $('.out_page').empty();

        var totalItems = $('.out_pag tbody tr').length;
        var totalPages = Math.ceil(totalItems / itemsPerPage);

        $('.out_prev').prop('disabled', currentPage === 1);
        $('.out_next').prop('disabled', currentPage === totalPages);

        for (var i = 1; i <= totalPages; i++) {
          var pageButton = $('<button>').text(i);
          pageButton.addClass('btn');
          if (i === currentPage) {
            pageButton.addClass('active bg-warning');
          }
          pageButton.click(function() {
            currentPage = parseInt($(this).text());
            showItems();
          });
          $('.out_page').append(pageButton);
        }
      }

      $('.out_prev').click(function() {
        if (currentPage > 1) {
          currentPage--;
          showItems();
        }
      });

      $('.out_next').click(function() {
        var totalItems = $('.out_pag tbody tr').length;
        var totalPages = Math.ceil(totalItems / itemsPerPage);

        if (currentPage < totalPages) {
          currentPage++;
          showItems();
        }
      });

      showItems();
    });
  </script>
