<div class="table-responsive scroll">
    <table
    class="table pag table-centered table-dark table-nowrap text-center"
    >
    <thead>
    <tr>
    <th>م</th>
    <th>التاريخ</th>
    <th>الموديل</th>
    <th>عدد القطع</th>
    <th>سعر القطعة</th>
    <th>اجمالي السعر</th>
    <th>التفاصيل</th>
    <th>المستخدم</th>
    {% if request.user.is_superuser %}
    <th><i class="fas fa-cogs"></i></th>
    {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for x in queryset_returned %}
    <tr style="text-align: center">
    <td>{{forloop.counter}}</td>
    <td>
    <span  style="font-size: 16px" >
      <i class="fas fa-calendar-alt"></i>
      {{x.date|date:'Y-m-d'}}</span>
    
    </td>
    <td> {{x.product}}</td>
    <td> {{x.item_count}}</td>
    <td> {{x.item_price|floatformat:2}}</td>
    <td> {{x.total_price|floatformat:2}}</td>
    <td> {{x.returned_details}}</td>
    <td><i class="fas fa-user-tie"></i> {{x.admin}}</td>
    {% if request.user.is_superuser %}
    <td>
    <!--
    {#                            <a#}
    {#                              href="{% url 'Factories:FactoryPaymentUpdate' x.id %}"#}
    {#                              class="mr-3 text-warning"#}
    {#                              data-toggle="modal"#}
    {#                              data-target="#action_modal"#}
    {#                              data-original-title="Edit"#}
    {#                              ><i class="mdi mdi-pencil font-size-18"></i#}
    {#                            ></a>#}-->
    <a
      onclick="
              var result = confirm('هل أنت متأكد من الحذف؟');
                if (result) {
                    ReturnedDelete('{{x.id}}')
                }
              "
      style="cursor: pointer"
      class="text-danger"
      ><i class="mdi mdi-close font-size-18"></i
    ></a>
    </td>
    {% endif %}
    
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    
    <div class="row text-center pagination">
        <div class="col-md-12">
            <button class="btn btn-dark prev">السابق</button>
            <span class="page"></span>
            <button class="btn btn-dark next">التالي</button>
        </div>
    </div>
    <br>
    
    <div style="margin-top: 10px">
    <div class="row">
    <div class="col-lg-4">
    <div class="card mini-stats-wid mb-0">
    <div class="card-body bg-danger">
    <div class="d-flex flex-wrap">
      <div class="mr-3">
        <h5 class="mb-2 text-light">اجمالي المرتجع</h5>
        <h5 class="mb-0 text-dark">
            {% if returned_sum_total %}
            {{returned_sum_total|floatformat:2}}
            {% else %}
            0.00
            {% endif %}
            جنية
        </h5>
      </div>
    
      <div class="avatar-xs ml-auto">
        <div
          class="avatar-title bg-light rounded-circle text-dark font-size-20"
        >
          <i class="fas fa-dollar-sign"></i>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card mini-stats-wid mb-0">
    <div class="card-body bg-danger">
    <div class="d-flex flex-wrap">
      <div class="">
        <h5 class="mb-2 text-light">
          اجمالي الحساب
        </h5>
        <h5 class="mb-0 text-dark">
            {% if returned_account_total %}
            {{returned_account_total|floatformat:2}}
            {% else %}
            0.00
            {% endif %}
            جنية
        </h5>
      </div>
    
      <div class="avatar-xs ml-auto">
        <div
          class="avatar-title bg-light rounded-circle text-dark font-size-20"
        >
          <i class="fas fa-hand-holding-usd"></i>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>
    
    <script>
        (document).ready(function() {
            $('returned_product').select2({
                width: '100%'
            });
        });


        // حساب اجمالي الحساب 
        $('#item_price').on('keyup change', function (){
          item_count_var = $('#item_count').val();
          item_price_var = $('#item_price').val();
          total_account_var = (item_count_var * item_price_var);
          $('#total_price').val(parseInt(total_account_var));
          $('#total_price').change();
        });


          function ReturnedCreate() {
            $.ajax({
              type: "POST",
              url: "{% url 'Factories:FactoryReturnedCreate'  %}",
              data: {
                id: "{{object.id}}",
                date: $("#date").val(),
                returned_product: $("#returned_product").val(),
                item_count: $("#item_count").val(),
                item_price: $("#item_price").val(),
                total_price: $("#total_price").val(),
                returned_details: $("#returned_details").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                dataType: "json",
              },
              success: function (response) {
                /* response message */
                if (response.msg == 1) {
                  $("#returned_product").val("");
                  $("#item_count").val("");
                  $("#item_price").val("");
                  $("#total_price").val("");
                  $("#returned_details").val("");
                  alert("تم الاضافة بنجاح");
                  $("#returned")
                    .html("&nbsp;")
                    .load(
                      "{% url 'Factories:FactoryReturned_div' object.id %}"
                    );
                  $("#inside")
                    .html("&nbsp;")
                    .load(
                      "{% url 'Factories:FactoryInSide_div' object.id %}"
                    );
                  $("#outside")
                    .html("&nbsp;")
                    .load(
                      "{% url 'Factories:FactoryPayment_div' object.id %}"
                    );
                  $("#paymnet")
                    .html("&nbsp;")
                    .load(
                      "{% url 'Factories:FactoryOutSide_div' object.id %}"
                    );
                } else {
                  alert("حاول مرة اخري / خطأ في البيانات");
                }
              },

              failure: function () {},
            });
          }

          function ReturnedDelete(returned_id) {
            $.ajax({
              type: "POST",
              url: "{% url 'Factories:ReturnedDelete' %}",
              data: {
                returned_id: returned_id,
                csrfmiddlewaretoken: "{{ csrf_token }}",
                dataType: "json",
              },
              success: function (data) {
                /* response message */
                $("#returned")
                  .html("&nbsp;")
                  .load(
                    "{% url 'Factories:FactoryReturned_div' object.id %}"
                  );
                alert("تم الحذف بنجاح");
                $("#inside")
                  .html("&nbsp;")
                  .load(
                    "{% url 'Factories:FactoryInSide_div' object.id %}"
                  );
                $("#outside")
                  .html("&nbsp;")
                  .load(
                    "{% url 'Factories:FactoryOutSide_div' object.id %}"
                  );
                  $("#paymnet")
                  .html("&nbsp;")
                  .load(
                    "{% url 'Factories:FactoryPayment_div' object.id %}"
                  );
              },

              failure: function () {},
            });
          }
    </script> 
        <script>
          function ReturnedDateFilter(val) {
            if (val.value) {
              val.style.backgroundColor = "lightgreen";
            } else {
              val.style.backgroundColor = "";
            }
            date_val = val.value;
            $("#returned")
              .html("&nbsp;")
              .load(
                "{% url 'Factories:FactoryReturned_div' object.id %}?date_val=" +
                  date_val
              );
          }
        </script>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>