{% load crispy_forms_tags %}
{% load humanize %}
<div class="row">
        <div class="col-lg-12">
            <div class="card" >
                <div class="card-body">
                    <!-- الداخل المصنع -->
                    <div class="tab-pane" id="treasury_operation" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                <table class="table table-centered table-dark table-nowrap text-center">
                                    <thead>
                                        <tr>
                                            <td style="width: 60%" class="op_sell">
                                                <select class="form-control" id="op_type" style="width: 100%" onchange="OpTypeFilter(this)">
                                                    <option disabled selected value="">عرض عمليات ايداع/سحب؟</option>
                                                    <option value=" ">كل العمليات</option>
                                                    <option value="1">إيداع</option>
                                                    <option value="2">سحب</option>
                                                </select>
                                            </td>
                                            <td style="width: 40%">
                                                <input type="date" class="form-control" id="op_date" min="{{ object.date|date:'Y-m-d' }}" style="width: 100%" onchange="OpDateFilter(this)">
                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                                <div id="operatoin_data">
                                    <div class="table-responsive scroll" >
                                        <table class="table pag table-centered table-dark table-nowrap text-center">
                                            <thead >
                                                <tr>
                                                    <th>م</th>
                                                    <th>التاريخ</th>
                                                    <th>نوع العملية</th>
                                                    <th>قيمة العملية</th>
                                                    <th>وصف العملية</th>
                                                    <th>المسئول</th>
                                                    {% if request.user.is_superuser %}
                                                    {% if treasury.deleted == 0 %}
                                                    <th><i class="fas fa-cogs"></i></th>
                                                    {% endif %}
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody >
                                            {% for w in treasury_operation_obj  %}
                                                <tr style="text-align: center;">
                                                    <td>{{forloop.counter}}</td>
                                                    <td><span>{{w.operation_date|date:'Y-m-d'}}</span></td>
                                                    <td>
                                                        <span>
                                                            {% if w.operation_type == 1 %}
                                                            <i class='bx bx-chevrons-down' style="color: rgba(12, 186, 44, 0.827);"></i>
                                                            {% else %}
                                                            <i class='bx bx-chevrons-up' style="color: rgba(201, 12, 60, 0.827);"></i>
                                                            {% endif %}
                                                        "{{w.get_operation_type_display}}"
                                                        </span>
                                                    </td>
                                                    <td><span>{{w.operation_value|floatformat:2|intcomma}} جنية</span></td>
                                                    <td>
                                                        <span>
                                                            {% if w.operation_description %}
                                                                "{{w.operation_description}}"
                                                            {% else %}
                                                                "---"
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                    <td><i class="fas fa-user-tie"></i> {{w.operation_user}} </td>
                                                   {% if request.user.is_superuser %}
                                                    {% if treasury.deleted == 0 %}
                                                   <td>
                                                   {% if w.id == last_op.id %}
                                                    <a href="{% url 'Treasury:OperationSuperDelete' w.id %}" class="mr-3 text-warning"data-toggle="modal" data-target="#action_modal" data-original-title="Edit"><i class="mdi mdi-close font-size-18" style="cursor: pointer;"></i></a>
                                                   {% endif %}
                                                    </td>
                                                   {% endif %}
                                                   {% endif %}


                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row text-center pagination">
                                        <div class="col-md-12">
                                            <button class="btn btn-dark prev">السابق</button>
                                            <span class="page"></span>
                                            <button class="btn btn-dark next">التالي</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <script src="/static/assets/libs/jquery/jquery.min.js"></script>
                                <script>
                                    $(document).ready(function() {
                                        $('#op_type').select2();
                                    });
                                </script>
                                <script>
                                    function OpTypeFilter(val) {
                                        if (val.value && val.value!= ' '){
                                            $( '.op_sell' ).find('.select2-container').find('.select2-selection--single').css("background-color","lightgreen");
                                        }
                                        else {
                                            $( '.op_sell' ).find('.select2-container').find('.select2-selection--single').css("background-color","");
                                        }

                                        $( '#op_date' ).css("background-color","");
                                        $( '#op_date' ).val('');

                                        type_val = val.value;
                                        $( '#operatoin_data' ).html( '&nbsp;' ).load( "{% url 'Treasury:TreasuryOperationDiv' object.id %}?type_val=" + type_val );
                                    };
                                    function OpDateFilter(val) {
                                        if (val.value){
                                            val.style.backgroundColor = 'lightgreen';
                                        }
                                        else {
                                            val.style.backgroundColor = '';
                                        }

                                        $('#op_type').select2('destroy');
                                        $('#op_type').val('').select2();

                                        date_val = val.value;
                                        $( '#operatoin_data' ).html( '&nbsp;' ).load( "{% url 'Treasury:TreasuryOperationDiv' object.id %}?date_val=" + date_val );
                                    };
                                </script>
                            </div>
                        </div>

                 </div>

                </div>
            </div>
        </div>
    </div>

  