{% extends "base.html" %}
{% load humanize %}

{% block title %}
<title> خزنة: {{object.name|title}} </title>

{% endblock title %}

{% block main %}

    <div class="main-content">
      <div class="page-content">
          <div class="container-fuild">

                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}


                      {% endif %}
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">


                                <h4 class="mb-0">
                                     خزنة {{object.name}}
                                     <a class="badge badge-success" style="font-size:small;" href="{% url 'Treasury:TreasuryCreate' %}" data-toggle="modal" data-target="#action_modal">
                                            <i class="fas fa-plus-square fx-2"></i>
                                    </a>

                                    <a class="badge badge-info" style="font-size:small;" href="{% url 'Treasury:TreasuryList' %}">
                                       <i class="fas fa-list-ul"></i>
                                    </a>

                                    <a  class="badge badge-danger" style="font-size:small;" href="{% url 'Treasury:TreasuryTrachList' %}">
                                            <i class="fas fa-trash"></i>
                                    </a>
                                 </h4>




                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                                    <li class="breadcrumb-item">
                                        {% if object.deleted %}
                                        <a href="{% url 'Treasury:TreasuryTrachList' %}">قائمة الخزائن المحذوفة</a>
                                        {% else %}
                                        <a href="{% url 'Treasury:TreasuryList' %}">قائمة الخزائن</a>
                                        {% endif %}
                                    </li>
                                    <li class="breadcrumb-item active"> خزنة {{object.name}}</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">

                            <!-- بيانات الخزينة -->
                            <div class="row alert alert-primary">
                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14" >
                                        <i class="fas fa-paragraph"></i>
                                        أسم الخزنة:
                                    </span>
                                    {{object.name}}
                                </div>
                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14" >
                                        <i class="fas fa-calendar-alt"></i>
                                            تاريخ الانشاء:
                                    </span>
                                    {{object.date|date:'Y-m-d'}}
                                </div>
                               
                                <div class="col-lg-4">
                                    {% if request.user.is_superuser %}
                                    <div>
                                    {% if object.deleted %}
                                    <a href="{% url 'Treasury:TreasuryRestore' object.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Message">
                                        <span class="badge badge-dark"><i class='bx bx-redo '></i> استرجاع</span>
                                    </a>
                                    <a href="{% url 'Treasury:TreasurySuperDelete' object.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Profile">
                                        <span class="badge badge-danger"><i class='bx bxs-trash '   ></i> حذف نهائي </span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'Treasury:TreasuryUpdate' object.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Message">
                                        <span class="badge  badge-info"><i class='bx bx-edit' ></i>تعديل</span>
                                    </a>
                                    {% if object.balance == 0 %}
                                    <a href="{% url 'Treasury:TreasuryDelete' object.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Profile">
                                        <span class="badge  badge-danger"><i class='bx bxs-trash'  ></i>حذف</span>
                                    </a>
                                    {% endif %}
                                    {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                              

                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14" >
                                        <i class="fas fa-sort-down" ></i>
                                        اجمالي الايداع:
                                    </span>
                                    <span class="badge badge-success font-size-14">{{total_deposit|floatformat:2|intcomma}} جنية</span>
                                </div>

                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14" >
                                        <i class="fas fa-sort-up" ></i>
                                            اجمالي المسحوبات:
                                    </span>
                                    <span class="badge badge-danger font-size-14">{{total_withdrawals|floatformat:2|intcomma}} جنية</span>
                                </div>

                                <div class="col-lg-3">
                                    <span class="font-weight-bold  font-size-14" >
                                        <i class="fas fa-dollar-sign"></i>
                                            رصيد الخزنة:
                                    </span>
                                    <span class="badge badge-primary font-size-14">{{object.balance|floatformat:2|intcomma}} جنية</span>
                                </div>
                             
                            </div>
                            <!-- نهاية بيانات الخزينة -->


                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                    <li class="nav-item">

                                        <a class="nav-link active" data-toggle="tab" id="Outside_tab" href="#treasury_operation" role="tab" aria-selected="true">
                                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                            <span class="d-none d-sm-block"><i class="fas fa-money-check-alt"></i> عمليات الخزنة</span>
                                        </a>

                                    </li>
                                    {% if object.deleted == 0 %}
                                    <li class="nav-item">
                                        <a class="btn btn-outline-success" data-toggle="modal" data-target="#action_modal" href="{% url 'Treasury:OperationInCreate' object.id %}?treasury_id={{object.id}}"  aria-selected="true">
                                            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                            <span class="d-none d-sm-block"><i class="fas fa-sort-down"></i> ايداع رصيد</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-outline-danger" {% if object.balance != 0 %} data-toggle="modal" data-target="#action_modal" href="{% url 'Treasury:OperationOutCreate' object.id %}?treasury_id={{object.id}}" {% endif %} aria-selected="true">
                                            <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                                            <span class="d-none d-sm-block"><i class="fas fa-sort-up"></i> سحب رصيد</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content text-muted">
                                    <!--عمليات الخزنة-->
                                    <div class="tab-pane active" id="treasury_operation" role="tabpanel">
                                        {% include 'Treasury/treasury_operation.html' %}
                                    </div>
                                    {% if object.deleted == 0 %}
                                    <!--ايداع-->
                                    <div class="tab-pane " id="Outside_factory" role="tabpanel">

                                    </div>
                                    <!--سحب-->
                                    <div class="tab-pane" id="Inside_factory" role="tabpanel">
                                        
                                    </div>
                                    {% endif %}
                                    
                                </div>

                            </div>
                    </div>
                    </div>
                </div>

          </div>
      </div>
    </div>

    <script>
        $(document).ready(function() {
          $('.pag').each(function(){
            var itemsPerPage = 10;
            var currentPage = 1;
            var $table = $(this);
            var $tbody = $table.find('tbody');
            var $tr = $tbody.find('tr');
            var $prevButton = $table.parent().next('.pagination').find('.prev');
            var $nextButton = $table.parent().next('.pagination').find('.next');
            var $pageSpan = $table.parent().next('.pagination').find('.page');

          function showItems() {
            var startIndex = (currentPage - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;

            $tr.hide();
            $tr.slice(startIndex, endIndex).show();
            $pageSpan.empty();

            var totalItems = $tr.length;
            var totalPages = Math.ceil(totalItems / itemsPerPage);
            $prevButton.prop('disabled', currentPage === 1);
            $nextButton.prop('disabled', currentPage === totalPages);

            for (var i = 1; i <= totalPages; i++) {
              var pageButton = $('<button>').text(i);
              pageButton.addClass('btn');
              if (i === currentPage) {
                pageButton.addClass('active bg-warning');
              }
              pageButton.click(function() {
                currentPage = parseInt($(this).text());
                showItems();
              });
              $pageSpan.append(pageButton);
            }

          }

          $prevButton.click(function() {
            if (currentPage > 1) {
              currentPage--;
              showItems();
            }
          });

          $nextButton.click(function() {
            var totalItems = $tr.length;
            var totalPages = Math.ceil(totalItems / itemsPerPage);

            if (currentPage < totalPages) {
              currentPage++;
              showItems();
            }
          });

          showItems();
        })
        });
    </script>
{% endblock main %}
